<div class="modal-header">
    <h4 class="modal-title pull-left">
        @switch(type) {
            @case ('warn') {
                <fa-icon [icon]="faWarning" class="text-warning"></fa-icon>
            }
            @case ('error') {
                <fa-icon [icon]="faCircleXmark" class="text-danger"></fa-icon>
            }
        }
        {{context?.title}}
    </h4>
    <button type="button" class="btn-close close pull-right" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">
    @switch(type) {
        @case ('prompt') {
            @let txtAreaId = idGenerator$ | async;
            <div class="form-floating">
                <textarea id="{{txtAreaId}}" [(ngModel)]="response" class="form-control" [style.height]="'200px'"></textarea>
                <label for="{{txtAreaId}}">{{context?.message}}</label>
            </div>
        } 
        @default {
            {{context?.message}}
        }
    }
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef?.hide()">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="handleSubmit()" 
        [disabled]="type === 'prompt' && !response">OK</button>
</div>