<form class="needs-validation h-100 d-flex flex-column" novalidate [formRoot]="form()">
    <div class="row">
        <div class="col">
            @if (isEdit())
            {
                <h4 class="fst-italic">
                    <span>{{form().Name().value()}}</span>&nbsp;
                    @if (!isFilterValid()) {
                        <fa-icon [icon]="faCircleExclamation" class="text-danger"></fa-icon>
                    }
                </h4>
                <input type="hidden" [formField]="form().Name" />
                <hr />
            } @else {
                <div class="form-floating mb-3">
                    @let name = form().Name();
                    @let errors = name.errors();
                    <input type="text" class="form-control" id="filter-name" [formField]="form().Name"
                        [ngClass]="{'is-invalid': !name.valid() && formState().touched()}" />
                    <label for="filter-name">Name</label>
                    <div class="invalid-feedback">
                        @for (error of errors; track error.kind) {
                            @switch (error.kind) {
                                @case ('required') {
                                    <div>Name Required!</div>
                                }
                            }
                        }
                    </div>
                </div>
            }
            <div class="form-floating mb-3">
                @let template = form().Template();
                <textarea class="form-control resize-none" id="filter-template" [style.height]="'200px'"
                    [ngClass]="{'is-invalid': !template.valid() && formState().touched()}" [formField]="form().Template"
                    spellcheck="false"></textarea>
                <label for="filter-template">Template</label>
                <div class="invalid-feedback">
                    @for (error of template.errors(); track error) {
                        @switch (error.kind) {
                            @case ('required') {
                                <div>Template Required!</div>
                            }
                            @case ('missing-parameters') {
                                <div>Missing Parameters: {{error.message}}</div>
                            }
                        }
                    }
                </div>
            </div>
        </div>
    </div>
    <app-parameter-list [formField]="form().Parameters"></app-parameter-list>
</form>